* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	background-color: black;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
	display: flex;
	margin-bottom: 20px;
}

.form input[type="text"] {
	flex: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

li:hover {
	background-color: #f4f4f4;
}

li button {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
